#Intellij IDEA
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*ipr
*iws
out/

#Gradle build folder
build/
.gradle/

#Android 特有
local.properties
bin/
gen/

#JNI compile files
*.o
*.o.d

# OS autogen folder information
#.DS_Store mac里头
Thumbs.db


# Temp files
*.bak
*.tmp
*.temp
*.swp
*.*~
~*.*

#Eclipse project files
.classpath
.settings/
.project

# Android 2.2 C/C++ compile
.externalNativeBuild/


